<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PrintJobFolder" value="d:\tmp\courtserver\print"/>
    <add key="RecordStorageFolder" value="d:\tmp\courtserver\storage"/>
    <add key="InputCacheFolder" value="d:\tmp\courtserver\cache"/>
   
  </appSettings>
</configuration>